<div class="about col-md-8">
  <h1>About Elliott Bay Rowing Club</h1>
  <h3>Our Start</h3>
  <p>The Elliott Bay Rowing Club was started in 1973 by Julia and Preston Littleton. In the early days, the rowers actually paddled out into Elliott Bay in their crew shells, but in 1975 they made the wise decision to move to the western shores of Lake Washington where they still are today.</p>
  <p>The Official Opening Day was held on June 3, 1972. Other local teams were invited for a laid-back 1k race, which was won by Mt. Baker Rowing Club's Varsity Men's 8. A friendly rivalry exists between EBRC and MBRC to this day.</p>

  <h3>Today</h3>
  <p>Today, more than 100 rowers participate at EBRC. Spanning in age from 11 to 83, there is an option for everyone. The Women's 8 is particularly well-known, as they often win regional and national championships.</p>
  <p>Come on over and join us today!</p>
</div>
