<h4>Edit Rower</h4>

<label>Updated Rower Name:</label>
<input [(ngModel)]="selectedRower.name">
<br>

<label>Updated Rower Seat Number:</label>
<input [(ngModel)]="selectedRower.seat">
<br>

<label>Updated Rower Bio:</label>
<input [(ngModel)]="selectedRower.bio">
<br>

<label>Updated Rower Height:</label>
<input [(ngModel)]="selectedRower.height">

<button *ngIf="selectedRower.seat<=8"(click)="beginUpdatingRower(selectedRower)">Update</button>
<button *ngIf="selectedRower.seat>8" (click)="invalidSeatNumber()">Update</button>
<hr>
<button (click)="beginDeletingRower(selectedRower)">Delete this Rower</button>
