<h3>Women's 8</h3>

<div *ngFor="let rower of rowers | async" (click)="goToDetailPage(rower)" class="panel panel-default">
  <div class="panel-body" *ngIf="rower.seat === 0">
    <h3><strong>{{rower.name}}</strong> - Coxswain</h3>
    <h1>{{rower.$key}}</h1>
  </div>
  <div class="panel-body" *ngIf="rower.seat === 8">
    <h3><strong>{{rower.name}}</strong> - Stroke Seat</h3>
    <h1>{{rower.$key}}</h1>
  </div>
  <div class="panel-body" *ngIf="rower.seat === 1">
    <h3><strong>{{rower.name}}</strong> - Bow Seat</h3>
    <h1>{{rower.$key}}</h1>
  </div>
  <div class="panel-body" *ngIf="rower.seat===4 || rower.seat===2 || rower.seat===3 || rower.seat===5 || rower.seat===6 || rower.seat===7">
    <h3><strong>{{rower.name}}</strong> - Seat {{rower.seat}}</h3>
    <h1>{{rower.$key}}</h1>
  </div>
</div>
