
.list {
  margin-left: 25%;
  padding-bottom: 60%;
}

.panel-body {
  background-color: white;
  text-align: center;
  /*height: 50px;*/
}

h3 {
  margin: 0;
}

.dropdown {
  margin-left: 40%;
  margin-right: auto;
  font-size: 20px;
  height: 50px;
  width: 20%;
}

.panel {
  border-radius: 0 !important;
  border-width: 0;
}

.title {
  text-align: center;
  font-size: 100px;
  color: white;
  margin-top: 100px;
}

img {
  height: 40px;
  margin-left: 5%;
}

img.port {
  margin-left: 30%;
}

img.starboard {
  height: 40px;
  margin-left: 2%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
