.everything {
  background-image: url("../assets/boat1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.html {
  min-height: 100vh;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.navlinks {
  margin-right: 2%;
  padding-top: 50px;
}
