/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3e4860;
  padding: 15px;
  color: white;
}

a.text-muted {
  color: white;
  font-size: 20px;
}

a.text-muted:hover {
  color: white;
}

html {
  min-height: 100vh;
}
